@keyframes slideInFromLeft {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-nav-left {
  animation: slideInFromLeft 1.5s ease-in-out;
}
.animate-nav-right {
  animation: slideInFromRight 1.5s ease-in-out;
}
